@use 'sass:color';

:root{
    --white-color: #fff;
    --black-color: #000;
    --light-gray: #F1F1F1;
    --hover-gray: #CCCCCC;
    --black-opacity: #000000a9;
    --green-color: #4CAF50;
}